<h1 id="requirements">Requirements</h1>
<ul>
<li>python &gt;= 3.10</li>
<li>numpy</li>
<li>pillow</li>
</ul>
<p>For the visualisation:</p>
<ul>
<li>pygame</li>
</ul>
<h2 id="python-environment-quick-start">Python environment quick start</h2>
<p>If you know how to install Python packages, you can safely skip this section.</p>
<p>We advise using <a href="https://docs.conda.io/en/latest/miniconda.html">Miniconda</a> to manage your Python environment. In this section, we will create a virtual environment to install the needed packages. This means it is separated from any system-wide python environment, the packages and versions (even the Python version) can differ.</p>
<p>First, create a new environment named “gridrace”:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="ex">conda</span> create --name gridrace python=3.10</span></code></pre></div>
<p>Then you need to activate it:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="ex">conda</span> activate gridrace</span></code></pre></div>
<p>After this, if you start a Python executable, it will be loaded from the “gridrace” environment. You can check this by checking that the output of <code>which  python</code> points to somewhere within your miniconda installation (e.g., <code>~/miniconda3/envs/gridrace/bin/python</code>). You should also check the Python version by <code>python --version</code>.</p>
<p>After this, install the necessary packages:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="ex">conda</span> install numpy pillow pygame</span></code></pre></div>
<h1 id="get-started">Get started</h1>
<h2 id="write-your-bot">Write your bot</h2>
<p>The bot communicates with the judge program using standard input and output, according to the competition specification. Standard error will be ignored, use this for debugging purposes.</p>
<p>Standard input, output and error are all captured in a <code>communications.&lt;date&gt;.log</code> timestamped file in the current working directory.</p>
<p>An example bot is provided in the <code>bot</code> directory.</p>
<h2 id="test-your-bot">Test your bot</h2>
<p>The testing environment is separated into <span class="math inline"><em>N</em> + 1</span> programs (with <span class="math inline"><em>N</em></span> being the number of bots run simultaneously): the bots and the judge. You should start each one from different consoles/terminals so that you can see the outputs.</p>
<p>First, start the judge program in the judge directory:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="ex">python</span> judge/run.py <span class="op">&lt;</span>track_file<span class="op">&gt;</span> <span class="op">&lt;</span>num_players<span class="op">&gt;</span> <span class="op">&lt;</span>visibility_radius<span class="op">&gt;</span></span></code></pre></div>
<ul>
<li><code>track_file</code> is the path to the map file,</li>
<li><code>num_players</code> is the number of players, and</li>
<li><code>visibility_radius</code> specifies how far the agent sees.</li>
</ul>
<p><code>--help</code> shows more help for each python script. While debugging, you may want to increase the timeout parameter using the <code>--timeout &lt;seconds&gt;</code> parameter to some very high value.</p>
<p>After starting the judge, start each player (bot) in a new console:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="ex">python</span> bot/client_bridge.py <span class="op">&lt;</span>bot_exe<span class="op">&gt;</span></span></code></pre></div>
<ul>
<li><code>bot_exe</code> is the path to your (or any) bot executable. This is either a python script (with <code>.py</code> extension) or a file with executable permissions.</li>
</ul>
<p>Running the bot will produce a <code>communications.&lt;date&gt;.log</code> file that contains the communications between the judge and the bot (from the bot’s point of view, i.e., “stdin” denotes lines that were input to the bot’s standard input).</p>
<h2 id="watch-the-replay">Watch the replay</h2>
<p>Invoking the judge with the <code>--replay_file &lt;path&gt;</code> argument will save a replay file at the given path. This can be visualised using <code>visualisation.py</code>, which accepts the replay path as its one argument.</p>
<p>The visualisation is controlled by the left-right arrow keys. (I.e., left: backwards in time, right is forward in time.)</p>
<p>If the map is too small, try changing the cell size with the <code>--cell_size</code> argument (default is 20).</p>
