<h1 id="requirements">Requirements</h1>
<ul>
<li>python &gt;= 3.10</li>
<li>numpy</li>
<li>Pillow</li>
</ul>
<p>For the visualisation:</p>
<ul>
<li>pygame</li>
</ul>
<h1 id="get-started">Get started</h1>
<h2 id="write-your-bot">Write your bot</h2>
<p>The bot communicates with the judge program using standard input and
output, according to the competition specification. Standard error will
be ignored, use this for debugging purposes.</p>
<p>Standard input, output and error are all captured in a
<code>communications.&lt;date&gt;.log</code> timestamped file in the
current working directory.</p>
<p>An example bot is provided in the <code>bot</code> directory.</p>
<h2 id="test-your-bot">Test your bot</h2>
<p>First, start the judge program by running the run.py script in the judge directory:</p>
<div class="sourceCode" id="cb1"><pre
class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="ex">python</span> judge/run.py <span class="op">&lt;</span>track_file<span class="op">&gt;</span> <span class="op">&lt;</span>num_players<span class="op">&gt;</span></span></code></pre></div>
<ul>
<li><code>track_file</code> is the path to the map file, and</li>
<li><code>num_players</code> is the number of players.</li>
</ul>
<p><code>--help</code> shows more help for each python script. While
debugging, you may want to increase the timeout parameter using the
<code>--timeout &lt;seconds&gt;</code> parameter to some very high
value.</p>
<p>For example:</p>
<div class="sourceCode" id="cb1"><pre
class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="ex">python</span> judge/run.py --timeout 10 --replay_file replay1.json maps/large2.png 1 </span></span></code></pre></div>

<p>After starting the judge, start each player (bot) in its own shell:</p>
<div class="sourceCode" id="cb2"><pre
class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="ex">python</span> bot/client_bridge.py <span class="op">&lt;</span>bot_exe<span class="op">&gt;</span></span></code></pre></div>
<ul>
<li><code>bot_exe</code> is the path to your (or any) bot executable.
This is either a python script (with <code>.py</code> extension) or a
file with executable permissions.</li>
</ul>
<p>For example:</p>
<div class="sourceCode" id="cb1"><pre
class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="ex">python</span> bot/client_bridge.py bot/lieutenant_crown_him_with_many_crowns_thy_full_gallant_legions_he_found_it_in_him_to_forgive.py </span></span></code></pre></div>

<h2 id="watch-the-replay">Watch the replay</h2>
<p>Invoking the judge with the <code>--replay_file &lt;path&gt;</code>
argument will save a replay file at the given path. This can be
visualised using <code>visualisation.py</code>, which accepts the replay
path as its one argument.</p>
<p>The visualisation is controlled by the left-right arrow keys. (I.e.,
left: backwards in time, right is forward in time.)</p>
